<div class="jumbotron">
  <div class="container">
    <h1>Pamex</h1>
    <h2>Manufacturing made easy</h2>
    <h3>Powered by SimaticIT&copy; Integrated to TeamCenter&copy; via ShopFloor Connect&copy;</h3>
    <p>A sleek and fast Part Manufacturing Order Management for small to medium sized CNC-machining shops for easier shop management</p>
    <p><a class="btn btn-primary btn-lg" role="button" ng-click="toggleLearnMore()">Learn more &raquo;</a></p>
  </div>
  <div class="container" collapse="!learnMore">
    Welcome to the proof of concept demo of a Hyla Soft’s DNC extension Lite order managment system, based on Simatic IT. The system is designed to cover basic order management functionality for small to medium sized CNC-machining shops. It is based on a lightweight installation of Simatic IT using only the core components <span class="text-primary">POM</span> (Production Order Manager), <span class="text-primary">MM</span> (Material Manager), <span class="text-primary">BPM</span> (Business Process Modeler) and <span class="text-primary">DIS</span> (Data Integration Service). The system demonstrates integration to <span class="text-primary">Teamcenter</span> via <span class="text-primary">Shop Floor Connect</span>, the Siemens DNC solution, as well as <span class="text-primary">LMS/OEE</span> and tool management components of the Siemens portfolio.
  </div>
</div>


<div class="container">
  <h1>Features</h1>
  <h1>Start the demo</h1>
  <div class="row">
    <div class="col-md-6">
      <h2>Operator</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">Start the demo &raquo;</a></p>
    </div>
    <div class="col-md-6">
      <h2>Supervisor</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">Start the demo &raquo;</a></p>
    </div>
    <h1>About</h1>
    <h1>Contact us</h1>
  </div>
</div>
